<launch>

  <!-- This is the format for a comment in HTML --> 


  <!-- Launches the geonav_transform file --> 
  <include file="$(find geonav_transform)/launch/geonav_transform.launch" >
  </include>

  <!-- creates all the parameters -->
  <param name="/Kp_xy_G" value="0.7" />
  <param name="/Kp_psi_G" value="8.0" />
  <param name="/Kd_xy_G" value="1.0" />
  <param name="/Kd_psi_G" value="12.0" />
  <param name="/Ki_xy_G" value="0.0" />
  <param name="/Ki_psi_G" value="0.0" />

  <!-- Launches PID codes --> 
  <node pkg="amore" type="gps_subscriber" name="GPS_Subscriber" output="screen">
  </node>
  <!-- node pkg="amore" type="traj_pub" name="Trajectory_Generator" output="screen" -->
  <!-- /node -->
  <node pkg="amore" type="High_Level_trajectory_processor" name="Path_Planner" output="screen">
  </node>
  <node pkg="amore" type="Station_keeping" name="Controller" output="screen">
  </node>

</launch>
