<launch>

  <!-- This is the format for a comment in HTML --> 


  <!-- Launches the geonav_transform file --> 
  <include file="$(find geonav_transform)/launch/geonav_transform.launch" >
  </include>

  <!-- creates all the parameters --> 
  

  <!-- Launches PID codes --> 
  <node pkg="amore" type="gps_subscriber" name="GPS_Subscriber" output="screen">
  </node>
  <node pkg="amore" type="Visions_Path_Planner" name="Path_Planner" output="screen">
  </node>
  <node pkg="amore" type="Station_keeping" name="Controller" output="screen">
  </node>
  <!-- node pkg="amore" type="stereo_vis" name="Stereo_Vision" output="screen" -->
  <!-- /node -->

</launch>
