<launch>

  <!-- This is the format for a comment in HTML --> 


  <!-- Launches the geonav_transform file --> 
  <!-- include file="$(find geonav_transform)/launch/geonav_transform.launch" -->
  <!-- /include -->

  <!-- creates all the parameters --> 
  <param name="/Kp_xy_G" value="0.7" />
  <param name="/Kp_psi_G" value="1.0" />
  <param name="/Kd_xy_G" value="2.0" />
  <param name="/Kd_psi_G" value="1.0" />
  <param name="/Ki_xy_G" value="0.0" />
  <param name="/Ki_psi_G" value="0.0" />
  
  <param name="/state_G" value="0" />				<!-- SET THIS TO 0:ON STANDBY, 1:STATION KEEPING, 2:WAYFINDING -->
  
  <param name="/x_goal_G" value="0.0" />			<!-- SET THIS IN METERS -->
  <param name="/y_goal_G" value="0.0" />			<!-- SET THIS IN METERS -->
  <param name="/psi_goal_G" value="0.0" />			<!-- SET THIS BETWEEN -PI AND PI RADIANS -->
  
  <!-- Launches codes -->
  <node pkg="jetson" type="navigation_array_indoor" name="navigation_array_indoor" output="screen">
  </node>
  <node pkg="jetson" type="propulsion_system_indoor" name="propulsion_system_indoor" output="screen">
  </node>
  <node pkg="jetson" type="path_planner_indoor" name="path_planner_indoor" output="screen">
  </node>
  <node pkg="jetson" type="mission_control_indoor" name="mission_control_indoor" output="screen">
  </node>
  
</launch>
