
<launch>

  <!-- This is the format for a comment in HTML --> 


  <!-- Launches the geonav_transform file --> 
  <include file="$(find geonav_transform)/launch/geonav_transform.launch">
  </include>

  <!-- creates all the parameters --> 
  <param name="/kp_xy" value="0.1" />
  <param name="/kp_psi" value="0.8" />
  <param name="/kd_xy" value="0.5" />
  <param name="/kd_psi" value="2.0" />
  <param name="/ki_xy" value="0.0" />
  <param name="/ki_psi" value="0.05" />
  
  <!-- SET THIS TO 0:ON STANDBY, 1:STATION-KEEPING, 2:WAYFINDING -->
  <param name="/MC" value="0" />
  
  <!-- SET THIS TO 1:DUAL-AZIMUTHING STATION-KEEPING, 2:DIFFERENTIAL WAYFINDING, 3:ACKERMANN WAYFINDING -->
  <param name="/LL" value="1" />
  
  <param name="/x_G" value="0.0" />		<!-- SET THIS IN METERS -->
  <param name="/y_G" value="0.0" />		<!-- SET THIS IN METERS -->
  <param name="/psi_G" value="0.0" />		<!-- SET THIS BETWEEN -PI AND PI RADIANS -->
  
  <!-- NORTH AND SOUTH POINTS ARE USED FOR GENERATING FIGURE 8 PATH FOR SENIOR PROJECT DEMO -->
  <param name="/x_north" value="20.0" />	<!-- SET THIS IN METERS -->
  <param name="/y_north" value="0.0" />	<!-- SET THIS IN METERS -->
  <param name="/x_south" value="-40.0" />	<!-- SET THIS IN METERS -->
  <param name="/y_south" value="0.0" />	<!-- SET THIS IN METERS -->
  
  <!-- Launches codes -->
  <node pkg="jetson" type="navigation_array_outdoor" name="navigation_array_outdoor" output="screen">
  </node>
  <node pkg="jetson" type="propulsion_system" name="propulsion_system" output="screen">
  </node>
  <node pkg="jetson" type="path_planner" name="path_planner" output="screen">
  </node>
  <node pkg="jetson" type="mission_control" name="mission_control" output="screen">
  </node>
  
</launch>
