<launch>

  <!-- This is the format for a comment in HTML --> 

  <!-- Launches codes -->
  <node pkg="rosserial_python" type="serial_node" name="serial_node" output="screen">
  </node>
  <node pkg="amore" type="propulsion_system" name="propulsion_system" output="screen">
  </node>
  <node pkg="amore" type="mission_control" name="mission_control" output="screen">
  </node>
  <node pkg="amore" type="perception_array" name="perception_array" output="screen">
  </node>
  
</launch>
